name: e2e

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"

jobs:
  e2e:
    name: ${{ matrix.os }} (${{ matrix.version }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        version: [v0.20.1, latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2.1.2
      with:
        go-version: 1.15
    - name: Set env
      if: matrix.version != 'latest'
      run: echo "::set-env name=TFLINT_VERSION::${{ matrix.version }}"
    - name: Install TFLint
      run: curl -sL https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
    - name: Install plugin (Linux)
      if: runner.os == 'Linux'
      run: make install
    - name: Install plugin (Windows)
      if: runner.os == 'Windows'
      run: |
        mkdir -p ~/.tflint.d/plugins
        go build -o ~/.tflint.d/plugins/tflint-ruleset-azurerm.exe
      shell: bash
    - name: Run E2E tests
      run: make e2e
