name: generated-code

on: pull_request

permissions:
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        submodules: true
    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: 'go.mod'
    - name: go run ./apispec-rule-gen
      working-directory: ./tools
      run: go run ./apispec-rule-gen && git diff --exit-code
