name: maintenance

on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch: # Enables on-demand/manual triggering

permissions:
  contents: write
  pull-requests: write

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - run: |
          cd tools/apispec-rule-gen/schema
          terraform init -upgrade
          terraform providers schema -json > schema.json
          cd ../..
          git submodule update --remote
          go run ./api-version-bumper
          go run ./apispec-rule-gen
      - uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          commit-message: |
            autogenerated maintenance
          title: autogenerated maintenance
          delete-branch: true
          body: |
            If tests are stuck on https://github.com/peter-evans/create-pull-request/issues/48:
            ["Manually close pull requests and immediately reopen them. This will enable `on: pull_request` workflows to run and be added as checks."](https://github.com/peter-evans/create-pull-request/blob/master/docs/concepts-guidelines.md#triggering-further-workflow-runs)
